.collection-game {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      object-fit: contain;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 80%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
        margin-right: 15px;
      }
    }
  }
  